openai
langchain
langchain-community
python-dotenv
langgraph
uvicorn
fastapi
langchain-text-splitters
langchain-openai
pandas
ipykernel
unstructured 
openpyxl
networkx
msoffcrypto-tool
numpy
qdrant-client
langchain-qdrant
pypdf
uvicorn
python-multipart